<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   BNVoiceCommandAction.plist
   baiduNaviSDK

   Created by baidu on 2017/9/30.
   Copyright (c) 2017年 baidu. All rights reserved.
-->
<plist version="1.0">
<array>
<!--  导航中查询路线及行驶信息  -->
    <dict>
        <key>name</key>
        <string>remaining_time</string>
        <key>action</key>
        <string>queryRemainTime:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>remaining_distance</string>
        <key>action</key>
        <string>queryRemainDistance:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>remaining_distance_and_time</string>
        <key>action</key>
        <string>queryRemainTimeAndDis:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>traffic_info</string>
        <key>action</key>
        <string>queryRoadCondition:withComplete:</string>
        <key>args</key>
        <array>
            <string>destination</string>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>ask_forward</string>
        <key>action</key>
        <string>queryForwardCondition:</string>
        <key>args</key>
        <array/>
    </dict>
<!--  导航中更改设置  -->
    <dict>
        <key>name</key>
        <string>exit_navigation</string>
        <key>action</key>
        <string>setExitNavi:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>on_preview</string>
        <key>action</key>
        <string>setRouteOverviewOn:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>off_preview</string>
        <key>action</key>
        <string>setRouteOverviewOff:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>day_mode</string>
        <key>action</key>
        <string>setDayMode:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>night_mode</string>
        <key>action</key>
        <string>setNightMode:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>inc_volume</string>
        <key>action</key>
        <string>setIncreaseVolume:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>dec_volume</string>
        <key>action</key>
        <string>setDecreaseVolume:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>on_volume</string>
        <key>action</key>
        <string>setNaviVolumeOn:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>off_volume</string>
        <key>action</key>
        <string>setNaviVolumeOff:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>on_roadcond</string>
        <key>action</key>
        <string>setRoadConditionOn:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>off_roadcond</string>
        <key>action</key>
        <string>setRoadConditionOff:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>long_tts</string>
        <key>action</key>
        <string>setPlayTTSDetailMode:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>short_tts</string>
        <key>action</key>
        <string>setPlayTTSShortMode:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>follow_view</string>
        <key>action</key>
        <string>setFollowMode:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>god_view</string>
        <key>action</key>
        <string>setNorthMode:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>window_minimap</string>
        <key>action</key>
        <string>setMinimapWindow:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>roadbar_minimap</string>
        <key>action</key>
        <string>setMinimapRoadbar:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>main_road</string>
        <key>action</key>
        <string>setMainRoad:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>aux_road</string>
        <key>action</key>
        <string>setAuxiliaryRoad:</string>
        <key>args</key>
        <array/>
    </dict>

<!--  导航中更改路线  -->
    <!--  更改偏好  -->
    <dict>
        <key>name</key>
        <string>avoid_congestion</string>
        <key>action</key>
        <string>queryAvoidJamRoute:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>prefer_quicker</string>
        <key>action</key>
        <string>queryFasterRoute:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>more_fast</string>
        <key>action</key>
        <string>queryFasterRoute:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>prefer_shorter</string>
        <key>action</key>
        <string>changeToLessDistPreference:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>prefer_no_highway</string>
        <key>action</key>
        <string>changeToLessTollPreference:</string>
        <key>args</key>
        <array/>
    </dict>
    <dict>
        <key>name</key>
        <string>prefer_highway</string>
        <key>action</key>
        <string>changeToHighWayPreference:</string>
        <key>args</key>
        <array/>
    </dict>
    <!--  走/不走xxx路  -->
    <dict>
        <key>name</key>
        <string>personalize_route</string>
        <key>action</key>
        <string>changeRouteWithRoads:avoidRoads:withComplete:</string>
        <key>args</key>
        <array>
            <string>go_road</string>
            <string>avoid_road</string>
        </array>
    </dict>
    <!--  添加途经点  -->
    <dict>
        <key>name</key>
        <string>add_via_node</string>
        <key>action</key>
        <string>changeRouteWithViaPoint:detail:withComplete:</string>
        <key>args</key>
        <array>
            <string>type</string>
            <string>detail</string>
        </array>
    </dict>
    <!--  选择途经点  -->
    <dict>
        <key>name</key>
        <string>sel_via_node</string>
        <key>action</key>
        <string>changeRouteWithViaIndex:withComplete:</string>
        <key>args</key>
        <array>
            <string>index</string>
        </array>
    </dict>
    <!--  改变终点  -->
    <dict>
        <key>name</key>
        <string>change_route</string>
        <key>action</key>
        <string>changeDestination:searchParams:withComplete:</string>
        <key>args</key>
        <array>
            <string>destination</string>
            <array>
                <string>speechid</string>
                <string>voice_query</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>list_search</string>
        <key>action</key>
        <string>changeRouteWithMultiPoiResult:mapContext:position:lng:lat:withComplete:</string>
        <key>args</key>
        <array>
            <string>destination</string>
            <string>map_context</string>
            <string>position</string>
            <string>lng</string>
            <string>lat</string>
        </array>
    </dict>
<!--  导航中事件上报  -->
    <dict>
        <key>name</key>
        <string>report_event</string>
        <key>action</key>
        <string>reportEventWithType:withComplete:</string>
        <key>args</key>
        <array>
            <string>event_type</string>
        </array>
    </dict>
<!--  其他类型  -->
    <dict>
        <key>name</key>
        <string>open_help</string>
        <key>action</key>
        <string>queryInstruction:withComplete:</string>
        <key>args</key>
        <array>
            <string>tts_tips</string>
        </array>
    </dict>
</array>
</plist>
